* {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar-button {
  margin: 8px;
  border-style: none;
  background: none;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  font-size: larger;
  gap: 1rem;
}

.title {
  display: flex;
  text-decoration: none;
  color: #ea5913;
  justify-content: center;
  font-size: 2em;
  font-weight: bold;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.login-container {
  display: flex;
  flex-direction: column;
  height: 100svw;
  justify-content: center;
  align-items: center;
}

.input-login-container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.button-login-container {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
}

.search-bar-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  margin-bottom: 1rem;
}
