.items-online-container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}

.item-card {
  width: 20svh;
}

.item-card > img {
  width: 100%;
}

.edit-button {
  display: flex;
  justify-content: space-evenly;
}
